{% extends 'base.html.twig' %}

{% block title %}Profil | C2Code
{% endblock %}
{# Metedesc fixe pour une page donnée #}
{% block meta_description %}
	Espace privé dun Compagnon de code
{% endblock %}

{% block body %}
	<section class="customContainer">
		<h3 class="mx-auto my-3 h2 text-clip xs:my-4 md:my-5">Salut
			{{ app.user.pseudo |upper }}
			!</h3>


		<div class="flex w-full max-md:flex-col-reverse max-md:gap-y-2">
			<div class="flex flex-col md:w-1/2 md:justify-between md:pt-2">
				<div class="w-full midFlex">
					<p class="text-col2 h5">Mon email  :
						{{ app.user.email }}</p>
				</div>
				<div class="w-full midFlex">
					<p class="mt-2 text-col2 h5">
						{% if 'ROLE_ADMIN' in app.user.roles %}
							Vous êtes Administrateur.
						{% elseif 'ROLE_CREATOR' in app.user.roles %}
							Vous êtes Créateur.
						{% elseif 'ROLE_USER' in app.user.roles %}
							Vous êtes connecté.
						{% else %}
							Votre rôle est inconnu.
						{% endif %}
					</p>
				</div>
				<a href={{ path('app_account_modify_password') }} class="w-full midFlex">
					<p class="buttonSecondary  w-[300px] text-center ">Modifier mon mot de passe</p>
				</a>
				{% if app.user.pseudo != "ChristopheC" %}
				<a href={{ path('app_account_modify_pseudo') }} class="w-full midFlex">
					<p class="buttonSecondary w-[300px]  text-center">Modifier mon pseudo</p>
				</a>
				{% endif %}
				<a href={{ path('app_home') }} class="w-full midFlex">
					<p class="buttonSecondary w-[300px]  text-center">Mes articles favoris</p>
				</a>
				{% if  is_granted('ROLE_CREATOR')  %}
					<a href={{ path('app_creator_articles_new') }} class="w-full midFlex">
						<p class="buttonSecondary w-[300px]  text-center">Ecrire un nouvel article</p>
					</a>
					{# filtrer sur author #}
					<a href={{ path('app_creator_articles_index') }} class="w-full midFlex">
						<p class="buttonSecondary w-[300px]  text-center">Mes articles</p>
					</a>
				{% endif %}
				{% if  is_granted('ROLE_ADMIN')  %}
					<a href={{ path ('app_admin_users') }} class="w-full midFlex">
						<p class="buttonSecondary w-[300px]  text-center">Gestion des utilisateurs</p>
					</a>
					<a href={{ path ('app_admin_languages_index')  }} class="w-full midFlex">
						<p class="buttonSecondary w-[300px]  text-center">Les Langages</p>
					</a>
					<a href={{ path ('app_admin_types_index')  }} class="w-full midFlex">
						<p class="buttonSecondary w-[300px]  text-center">Les Types</p>
					</a>
							
				{% endif %}
				
			</div>
			<div class="flex flex-col items-center justify-center md:w-1/2 ">
				<img src="{{ asset('images/avatars/' ~ app.user.avatar) }}" alt="Avatar de {{ app.user.pseudo }}" class="rounded-full w-[250px] color-shadow-md">
				<a href={{ path('app_account_modify_avatar') }} class="w-full midFlex">
					<p class="buttonSecondary w-[300px] text-center">Modifier mon avatar</p>
				</a>
			</div>
		</div>


	</div>
</section></section>{% endblock %}
