{% extends 'base.html.twig' %}

{% block title %}Lessons index
{% endblock %}

{% block body %}
	<section class="">
		<h3 class="mx-auto my-5 h3 text-clip xs:my-6 md:my-7">Gestion des Leçons de :
			<br>
			{{course.title}}
		</h3>

		<div class='relative overflow-x-auto rounded-xl'>
			<table class="w-full text-col4 bg-gray-50">
				<thead class="text-sm uppercase border-2 border-col3">
					<tr>
						<th class="text-center border-r border-black w-7">Id</th>
						<th class="w-12 text-center border-r border-black">Position</th>
						<th class="w-12 text-center border-r border-black">Premium</th>
						<th class="w-12 text-center border-r border-black">Visible</th>
						<th class="w-12 text-center border-r border-black">Title</th>
						<th class="w-12 text-center border-r border-black">Created_at</th>
						<th class="w-12 text-center border-r border-black">Updated_at</th>
						<th class="w-12 text-center border-r border-black">Time</th>
						<th class="w-12 text-center border-r border-black">actions</th>
					</tr>
				</thead>
				<tbody>
					{% for lesson in lessons %}
						<tr class="py-4 text-sm border-2 text-col3 border-col3 hover:bg-neutral-200">
							<td class="py-3 text-center border-r border-black w-7">{{ lesson.id }}</td>
							<td class="w-12 text-center border-r border-black">{{ lesson.position }}</td>
							<td class="w-12 text-center border-r border-black {{ lesson.isPremium ? 'bg-amber-300' : '' }}">
							<a href="{{ path ('app_lesson_update_premium', { 'id' : lesson.id} )}}">{{ lesson.isPremium ? 'Yes' : 'No' }}</a></td>


							<td class="{{ lesson.isVisible ? '' : 'bg-red-400/90' }} w-12 text-center border-r border-black">
								<a href="{{ path ('app_lesson_update_visibility', { 'id' : lesson.id } )}}">
									{% if lesson.isVisible %}
										<i class="p-3 bg-white rounded-full fa-solid fa-eye"></i>
									{% else    %}
										<i class="p-3 bg-white rounded-full fa-solid fa-eye-slash"></i>
									{% endif %}
								</a>
							</td>


							<td class="w-12 text-center border-r border-black">{{ lesson.title }}</td>
							<td class="w-12 text-center border-r border-black">{{ lesson.createdAt ? lesson.createdAt|date('Y-m-d H:i:s') : '' }}</td>
							<td class="w-12 text-center border-r border-black">{{ lesson.updatedAt ? lesson.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
							<td class="w-12 text-center border-r border-black">{{ lesson.time ? lesson.time|date('H:i:s') : '' }}</td>
							<td class="flex items-center py-3 text-center justify-evenly">
								<a href="{{ path('app_lessons_edit', {'id': lesson.id}) }}">
									<i class="fa-solid fa-pen hover:text-green-500"></i>
								</a>
								{# lien à mettre en place #}
								<a href="{{ path ('app_one_course', {'slug': course.slug, 'position':lesson.position}) }}" target="_blank">
									<i class="fa-solid fa-eye hover:text-cyan-300"></i>
								</a>
								<form method="post" action="{{ path('app_lessons_delete', {'id': lesson.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lesson.id) }}">
									<button class="">
										<i class="fa-solid fa-trash hover:text-red-500"></i>
									</button>
								</form>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="10">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<a href="{{ path('app_lessons_new', {'slug': slug}) }}">
				<div class="w-full mx-auto text-center buttonValidation xs:w-3/4 md:w-1/2">Créer une nouvelle leçon</div>
			</a>
			<a href="{{ path('app_creator_courses_management') }}">
				<div class="w-full mx-auto text-center xs:w-3/4 md:w-1/2 buttonSecondary hover:text-white">Retour</div>
			</a>

		</section>
	{% endblock %}
