{% extends 'base.html.twig' %}

{% block title %}Edit Languages
{% endblock %}

{% block body %}
	<section class="">
		<h3 class="mx-auto my-5 text-center h3 text-clip xs:my-6 md:my-7">Administration Langage <br>
         Gestion => {{language.language}} <br>
          id => {{ language.id }}</h3>

		{{ include('admin/languages/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

		<a href="{{ path('app_admin_languages_index') }}"><div class="text-center buttonSecondary">Retour</div></a>

		{{ include('admin/languages/_delete_form.html.twig') }}

	</section>
{% endblock %}
