{% extends 'base.html.twig' %}

{% block title %}Languages index
{% endblock %}

{% block body %}
	<section class="customContainer">
		<h3 class="mx-auto my-5 h3 text-clip xs:my-6 md:my-7">Administration : Gestion des Langages</h3>


		<div class='relative overflow-x-auto rounded-xl'>
			<table class="w-full text-col4 bg-gray-50">
				<thead class="text-sm uppercase border-2 border-col3">
					<tr>
						<th class="px-6 py-3 text-left">Id</th>
						<th class="px-6 py-3 text-left border-2 border-col3">Language</th>
						<th class="px-6 py-3 text-left border-2 border-col3">Icon Language</th>
						<th class="px-6 py-3 text-center">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for language in languages %}
						<tr class="text-sm border-2 text-col3 border-col3 hover:bg-neutral-200">
							
							<td class="px-6 py-3">{{ language.id }}</td>
							
							<td class="px-6 py-3 border-2 border-col3">{{ language.language }}</td>
							<td class="px-6 py-3 border-2 border-col3">  <div class="w-20 mx-auto rounded-full color-shadow-md flexMid aspect-square "><img src="{{ language.iconLanguage }}" alt=" {{ language.language }}" class='w-full aspect-square'></div></td>
							
							<td class="flex justify-between px-6 py-3">
								<a href="{{ path('app_admin_languages_edit', {'id': language.id}) }}"><button class="p-3 font-semibold bg-blue-400 text-col4 rounded-xl hover:opacity-90">Modifier</button></a>
								<a href="{{ path('app_admin_languages_delete', {'id': language.id}) }}"><button class="p-3 font-semibold bg-red-600 text-col4 rounded-xl hover:opacity-90">Supprimer</button></a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="3">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<a href="{{ path('app_admin_languages_new') }}"><div class="text-center buttonSecondary">Ajouter un nouveau</div></a>

	</section>
{% endblock %}
