{% extends 'base.html.twig' %}

{% block title %}Les Langages | C2Code
{% endblock %}

{% block body %}
	<section class="">
		<h3 class="mx-auto my-5 text-center h3 text-clip xs:my-6 md:my-7">Administration Langage
			<br>
			Gestion =>
			{{language.language}}
			<br>
			id =>
			{{ language.id }}</h3>
		<a href="{{ path('app_admin_languages_index') }}">
			<div class="text-center buttonSecondary">Retour à la liste</div>
		</a>
		<a href="{{ path('app_admin_languages_edit', {'id': language.id}) }}">
			<div class="text-center buttonSecondary">Modifier</div>
		</a>
		{{ include('admin/languages/_delete_form.html.twig') }}
	</section>
{% endblock %}
