{{ form_start(form) }}
{{ form_row(form.author) }}
{{ form_row(form.title) }}
<div class="flex justify-between w-full gap-x-3">
	<div class="w-1/6">{{ form_row(form.visible) }}</div>
	<div class="w-1/6">{{ form_row(form.position) }}</div>
	<div class="flex-grow">{{ form_row(form.languages) }}</div>
	<div class="flex-grow">{{ form_row(form.types) }}</div>
</div>
{{ form_row(form.thumbnail) }}
{{ form_row(form.pitch) }}
{{ form_row(form.text) }}
<button class="buttonValidation">{{ button_label|default("Créer l'article") }}</button>
{{ form_end(form) }}
