{% extends 'base.html.twig' %}

{% block title %}Articles index
{% endblock %}

{% block body %}
	<section class="customContainer">
		{% if app.user.pseudo == "Christophe_C"  %}
			<h3 class="mx-auto my-5 h3 text-clip xs:my-6 md:my-7">Gestion des articles</h3>
		{% else %}
			<h3 class="mx-auto my-5 h3 text-clip xs:my-6 md:my-7">Gestion de mes articles</h3>
		{% endif %}


		{# {{ dump(articles_projet) }}
				{{ dump(articles_tuto) }}
				{{ dump(articles_partage) }}
				{{ dump(types) }} #}

		<div class="flex flex-wrap items-center justify-center gap-3 my-6">
			{% for  language in languages %}
				<div class="flex flex-wrap items-center justify-center my-6">
					<div class="w-20 overflow-hidden duration-200 rounded-full cursor-pointer aspect-square articles-all color-shadow-md bg-neutral-100 hover:bg-neutral-300 btnLanguages flexMid" id="{{language.language}}"><img src="{{language.iconLanguage}}" alt="{{language.language}}" class='object-cover m-1'></div>
				</div>
			{% endfor %}
		</div>

		{# Pour chaque type on génère un tableau #}
		{% for type in types %}
			<h4 class="mt-4 mb-2 h4 text-clip">Les
				{{type.type}}s</h4>
			<div class='relative overflow-x-auto rounded-xl'>
				{{ include('creator/articles/components/table.html.twig', { articles: attribute(_context, 'articles_' ~ type.type) }) }}
			</div>
		{% endfor %}


		<a href="{{ path('app_creator_articles_new') }}">
			<div class="text-center buttonSecondary">Ecrire un nouvel article</div>
		</a>
	</section>

	<script>
		let articleInArray = document.querySelectorAll(".articleInArray");

console.table(articleInArray);

articleInArray.forEach((article) => {
articleInArray.addEventListener("click", () => {
console.log("coucou le array!");
});
});

const testBtn = document.querySelector(".testBtn");

testBtn.addEventListener("click", () => {
console.log("coucou le btn !");
});
	</script>

{% endblock %}
