<a href="{{ path ('app_one_course', { slug : course.slug})}}" class="flex flex-col justify-between max-w-sm p-6 duration-500 border border-gray-200 rounded-md shadow gap-y-3 style_{{ course.language|upper }} hover:brightness-105 hover:shadow-lg	">


	<div class="flex items-start justify-between gap-3 mb-3">
		<img src="{{course.logo}}" alt="logo" class="p-1 bg-white rounded-full size-12">
		<h5 class="mb-2 text-2xl font-bold tracking-tight text-center gray-900 text-">{{course.title}}</h5>

	</div>

	<p class="mb-3 font-normal text-gray-700 ">{{course.pitch}}</p>


	{% if course.getNbLessons() > 1   %}
		<p class="flex items-center justify-between w-full p-2 text-sm border rounded-md shadow-lg bg-neutral-400/50 border-neutral-500">
			<span>
				Nb d'articles :
				{{ course.getNbLessons() }}
			</span>
			<span>{{course.totalTime}}</span>
		</p>
	{% elseif course.getNbLessons() == 1   %}
		<p class="p-2 text-sm border rounded-md shadow-lg iw-full bg-neutral-400/50 border-neutral-500">
			Nb d'article :
			{{ course.getNbLessons() }}
		</p>
	{% else %}
		<p class="w-full p-2 text-sm border rounded-md shadow-lg bg-neutral-400/50 border-neutral-500">Préparation en cours.</p>
	{% endif %}

</a>
