<h3 class="underline lg:mx-auto h3 text-col2 ">Leçons :</h3>

{% for lesson in lessons  %}
	{% if  lesson.isVisible ==1 %}
		<a href="{{ path('app_one_course', { slug: course.slug , position: lesson.position}) }}" class="flex flex-col gap-x-2 p-2 duration-300 rounded-xl hover:text-col2 {{ lesson.isPremium ? 'text-amber-500' : 'text-col1' }} ">
			<div class="flex items-center w-full lg:justify-between flex-nowrap">
				<div class="flex items-center gap-2">
					{% if lesson.type.type is same as "notion"  %}
						<i class="fa-solid fa-book-open"></i>
					{% elseif lesson.type.type is same as "express" %}
						<i class="fa-solid fa-truck-fast"></i>
					{% elseif lesson.type.type is same as "exercice" %}
						<i class="fa-solid fa-screwdriver-wrench"></i>
					{% elseif lesson.type.type is same as "projet" %}
						<i class="fa-solid fa-rocket"></i>
					{% endif %}
					<p class="p">{{ lesson.title }}</p>
				</div>
				{% if lesson.isPremium  %}
					<i class="max-lg:ml-4 fa-solid fa-crown"></i>
				{% endif %}
			</div>
			<p class="flex items-start text-gray-500 -translate-y-1 text-small">
				{% if lesson.time|date('H') == '00' %}
					{{ lesson.time|date('i:s') }}
				{% else %}
					{{ lesson.time|date('H:i:s') }}
				{% endif %}
			</p>

		</a>
	{% endif %}
{% endfor %}
<div class="flex flex-col mt-4 mb-3 border-t lg:mt-auto border-col1 text-col1">
	<h5 class="my-3 h5">Notice</h5>
	<p>
		<i class="fa-solid fa-book-open"></i>
		=> leçons</p>

	<p>
		<i class="fa-solid fa-truck-fast"></i>
		=> express</p>
	<p>
		<i class="fa-solid fa-screwdriver-wrench"></i>
		=> exercices
	</p>
	<p>
		<i class="fa-solid fa-rocket"></i>
		=> projets
	</p>
</div>
