{% set tools=[
    {
        'id' : 1,
        'name' : 'sass',
        'pitch':"Le CSS survitaminé !",
        'description' : "Sass est un préprocesseur CSS qui permet d'écrire du CSS de manière plus claire et plus structurée. Il ajoute des fonctionnalités qui ne sont pas disponibles en CSS, comme les variables, les mixins, les fonctions, les boucles, etc. Cela permet de gagner du temps et de réduire les erreurs. Grâce à Sass, on peut découper tout notre CSS et le lier en un seul fichier. Nous le retrouverons pour personnaliser les framework comme Tailwind et Bootstrap. Sass, c'est le CSS en mieux !",       
      },
    {
        'id' : 2,
        'name' : 'bootstrap',
        'pitch' : "Le framework CSS le plus populaire.",
        'description' : "Sass est un préprocesseur CSS qui permet d'écrire du CSS de manière plus claire et plus structurée. Il ajoute des fonctionnalités qui ne sont pas disponibles en CSS, comme les variables, les mixins, les fonctions, les boucles, etc. Cela permet de gagner du temps et de réduire les erreurs. Grâce à Sass, on peut découper tout notre CSS et le lier en un seul fichier. Nous le retrouverons pour personnaliser les framework comme Tailwind et Bootstrap. Sass, c'est le CSS en mieux !"
      },
    {
        'id' : 3,
        'name' : 'tailwindcss',
        'pitch' : "Le framework CSS de la libre expression !",
        'description' : "Tailwind CSS est un framework qui permet de créer des sites web personnalisés et modernes. Il utilise une approche utility-first, ce qui signifie qu'il fournit des classes utilitaires pour créer des styles personnalisés. Cela permet de produire des sites web uniques et originaux. C'est un outil très flexible et puissant qui permet de créer des designs uniques et innovants. C'est le pinceau de votre site."
      },
    {
        'id' : 4,
        'name' : 'mvc',
        'pitch' : "L'architecture de votre site coté serveur.",
        'description' : "Le modèle-vue-contrôleur (MVC) est un modèle d'architecture logicielle qui sépare les données, la présentation et la logique de contrôle d'une application. Cela permet de rendre l'application plus modulaire, plus flexible et plus facile à maintenir. C'est un modèle très populaire qui est utilisé par de nombreux frameworks web. C'est le dispatcheur de votre site."
      },
    {
        'id' : 5,
        'name' : 'prisma',
        'pitch' : "L'ORM pour Node.js et TypeScript.",
        'description' : "Prisma est un ORM (Object-Relational Mapping) qui permet de simplifier l'accès aux bases de données dans les applications React et Next. Il offre une API intuitive et puissante pour interagir avec les bases de données, ce qui permet de gagner du temps et de réduire les erreurs. C'est un outil très complet qui permet de gérer les données de votre application de manière efficace. C'est le magasinier de votre site."
      },
    {
        'id' : 6,
        'name' : 'vercel',
        'pitch' : 'Idéal pour déployer vos applications Next.js.',
        'description':"Vercel est une solution d'hébergement qui permet de déployer des applications Next.js de manière simple et rapide. Il offre de nombreuses fonctionnalités avancées, comme le déploiement automatique, la mise en cache, la gestion des environnements, etc.<br>
        Cela permet d'optimiser les performances de votre site et d'améliorer l'expérience utilisateur.<br>
        Tu fais du NextJs, tu veux te simplifier la vie : VERCEL est ton ami !"
      },
    {
        'id' : 7,
        'name' : 'toolbox',
        'pitch' : "Quelques outils de ma boîte.",
        'description' : "Supabase, MongoDB et Firebase pour des bases de données.<br>
        Zustand pour la gestion de l'état global d'un projet React/Next.<br>
        React Query pour la gestion des données dans React.<br>
        Gsap et framer motion pour des animations plus poussées.<br>
        NextAuth pour l'authentification dans Next."
      },
    
        
    
]  %}

<h2 class="mx-auto mb-5 h2 text-clip">Les outils dont nous aurons besoin</h2>

<div class="flex flex-wrap justify-between w-full pb-8 gap-y-5 gap-x-8">
    {% for tool in tools %}
        <div class="h-full mx-auto tool-item bg-color-reverse color-shadow-card rounded-xl " data-tool-id="{{ tool.id }}" onclick="showToolDescription({{ tool.id }})">
            <div class="flex flex-col justify-between flex-wrap w-[145px] h-[200px] gap-3 p-3 border border-col1 rounded-xl">
                <p class="text-xl ">{{ tool.name }}</p>
                <p class="text-lg text-col1">{{ tool.pitch }}</p>
            </div>
        </div>
    {% endfor %}
</div>

{% for tool in tools %}
    <div id="tool-description-{{ tool.id }}" class="tool-description  w-full p-4 border color-shadow-md border-col1 rounded-xl text-col1 h2 {% if tool.id != 1 %}hidden{% endif %}">
        <div class="flex flex-col">
            <p class="mb-4 underline h4 text-col2 underline-offset-8">{{ tool.name }} :</p>
            <div class="p text-col1">{{ tool.description }}</div>
        </div>
    </div>
{% endfor %}

