<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<meta name="description" content="{% block meta_description %}Tutos et Projets d'un Compagnon de code !{% endblock %}">

		<script src="https://cdn.tiny.cloud/1/ioe3eh75wlk0ed6bxqzlm9mmphf2fa5dzibxjrx77bxl9520/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
		<script>
			tinymce.init({selector: 'textarea#articles_text'});
			{# tinymce.init({selector: 'textarea#default'}); #}
		</script>


		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body class='flex flex-col min-h-svh bg-color'>
		{% include 'components/navbar.html.twig' %}

		<main class="relative flex-grow py-2 md:py-4 customContainer">

			<div class="container_alerts">
				{% for label, messages in app.flashes %}
					{% for message in messages %}
						<div class="alert alert-{{ label }} containerForm mx-auto my-4">
							{{ message }}
						</div>
					{% endfor %}
				{% endfor %}
			</div>
			{% block body %}{% endblock %}
		</main>

		{% include 'components/footer.html.twig' %}

	</body>
</html>
