<footer class=" bg-color">
	{% include 'elements/separator.html.twig' %}
	<div class="p-4 py-6 mx-auto customContainer lg:py-8">
		<div class="md:flex md:justify-between">
			<div class="mb-6 md:mb-0">
				<a href={{ path('app_home') }} class='w-full'>

					<div class="flex items-center justify-center md:justify-start gap-x-2">
						<img src="{{ asset('images/avatars/profil_c2c.png') }}" class="w-16 border rounded-full color-shadow-md border-col1" alt="compagnon de code"/>
						<h1 class="flex items-center md:flex-col lg:flex-row h3 text-clip xs:flex-nowrap gap-x-2">
							<span>Compagnon
							</span>
							<span class='text-nowrap'>de Code</span>
						</h1>
					</div>
				</a>
			</div>
			<div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
				<div>
					<h2 class="mb-6 text-sm font-semibold text-white uppercase">Pages du site</h2>
					<ul class="font-medium text-gray-500 dark:text-gray-400">
						<li class="mb-4">
							<a href="{{ path('app_home') }}" class="hover:underline">Accueil</a>
						</li>
						<li class="mb-4">
							<a href="{{ path('app_projects') }}" class="hover:underline">Les projets</a>
						</li>
						<li class="mb-4">
							<a href="{{ path('app_tutos') }}" class="hover:underline">Les tutoriels</a>
						</li>
						<li class="mb-4">
							<a href="{{ path('app_shares') }}" class="hover:underline">Les partages</a>
						</li>
						<li class="mb-4">
							<a href="{{ path('app_login') }}" class="hover:underline">Connexion/Inscription</a>
						</li>
					</ul>
				</div>
				<div>
					<h2 class="mb-6 text-sm font-semibold text-white uppercase">Me Suivre</h2>
					<ul class="font-medium text-gray-500 dark:text-gray-400">
						<li class="mb-4">
							<a href="https://github.com/ChristopheC-83" class="hover:underline ">Github</a>
						</li>
						<li class="mb-4">
							<a href="https://www.youtube.com/@CompagnonDeCode" class="hover:underline">Youtube</a>
						</li>
						<li class="mb-4">
							<a href="https://codepen.io/ChristopheC-83" class="hover:underline">Codepen</a>
						</li>
						<li class="mb-4">
							<a href="https://www.linkedin.com/in/christophe-chiappetta-b3623b262/" class="hover:underline">LinkedIn</a>
						</li>
					</ul>
				</div>
				<div>
					<h2 class="mb-6 text-sm font-semibold text-white uppercase">Légal</h2>
					<ul class="font-medium text-gray-500 dark:text-gray-400">
						<li class="mb-4">
							<a href="{{ path('app_legal') }}" class="hover:underline">Politique & Confidentialité</a>
						</li>
						<li class="mb-4">
							<a href="https://parcours.ducompagnon.fr" class="hover:underline">Qui suis-je ?</a>
						</li>
						<li class="mb-4">
							<a href="https://www.compagnondecom.fr/" class="hover:underline">Mes Services</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"/>
		<div class="sm:flex sm:items-center sm:justify-between">
			<span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024
				Christophe CHIAPPETTA. Tous droits réservés.
			</span>
		</div>
	</div>
</footer>
