{% extends 'base.html.twig' %}

{% block title %}Hello ConnectionLogController!
{% endblock %}

{% block body %}


	<section class="">
		<h3 class="mx-auto my-5 h3 text-clip xs:my-6 md:my-7">Administration : Visualisation des connexions</h3>


		<form method="GET" action="{{ path('app_admin_premium_access') }}" class="flex gap-4 my-5">
    <div>
        <label for="user" class="block mb-2 text-sm font-medium text-gray-100">Filtrer par utilisateur :</label>
        <select name="user" id="user" class="p-2 border rounded-md" onchange="this.form.submit()">
            <option value="">Tous les utilisateurs</option>
            {% for user in uniqueUsers %}
                <option value="{{ user.id }}" {{ selectedUser == user.id ? 'selected' : '' }}>
                    {{ user.pseudo }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="lesson" class="block mb-2 text-sm font-medium text-gray-100">Filtrer par leçon :</label>
        <select name="lesson" id="lesson" class="p-2 border rounded-md" onchange="this.form.submit()">
            <option value="">Toutes les leçons</option>
            {% for lesson in uniqueLessons %}
                <option value="{{ lesson.id }}" {{ selectedLesson == lesson.id ? 'selected' : '' }}>
                    {{ lesson.title }}
                </option>
            {% endfor %}
        </select>
    </div>
</form>



		<div class="relative overflow-x-auto">
			<table class="w-full text-sm text-left text-gray-500 rtl:text-right ">
				<thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
					<tr>

						<th scope="col" class="px-6 py-3">
							Utilisateur
						</th>
						<th scope="col" class="px-6 py-3">
							Lesson
						</th>
						<th scope="col" class="px-6 py-3">
							Date
						</th>
					</tr>
				</thead>
				<tbody>
					{% for connection in premiumLessonsAccess %}

						<tr class="bg-white border-b border-gray-200 ">
							<th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
								{{connection.user.pseudo}}
							</th>
							<td class="px-6 py-4">
								{{connection.lesson.title}}
							</td>
							<td class="px-6 py-4">
								{{connection.viewedAt|date('d/m/Y H:i')}}
							</td>
						</tr>
					{% endfor %}

				</tbody>
			</table>
		</div>


	</section>
{% endblock %}
