{% extends 'base.html.twig' %}

{% block title %}Hello SharesController!
{% endblock %}

{% block body %}
	 {# {{ dump(article) }} #}
	<div class="flex flex-wrap items-center justify-between gap-5 my-6">
		<div class="flex flex-wrap items-center justify-center m-4 mx-auto ">
			<div class="w-20 overflow-hidden duration-200 rounded-full md:w-24 aspect-square articles-all color-shadow-md bg-neutral-100 hover:bg-neutral-300 btnLanguages flexMid"><img src="{{language.iconLanguage}}" alt="{{language.language}}" class='object-cover m-1'></div>
		</div>
	</div>
	{% include 'components/spacing.html.twig' %}
	<div class='w-full p-4 border color-shadow-md rounded-xl md:p-5 lg:p-6 bg-color-reverse text-col1 border-col1'>
		<h3 class="mx-auto mb-5 h2 text-clip">{{article.title}}
		</h3>

		<div class="flex flex-col items-center gap-5 justify-evenly md:gap-7 lg:gap-8 md:flex-row ">
			<p class="text-center p">{{article.pitch}}</p>
			<img src="{{article.thumbnail}}" alt="{{article.title}}" class='w-[208px] h-[138px] rounded-xl'>
		</div>

	</div>
	{% include 'components/spacing.html.twig' %}

	<div class='w-full p-4 border color-shadow-md rounded-xl md:p-5 lg:p-6 bg-color-reverse text-col1 border-col1'>

		<div class="flex items-center gap-4">
			<img src="{{ asset('images/avatars/' ~ author.avatar) }}" alt="{{author.avatar}}" class='rounded-full size-14'>
			<p class='text-small tetx-gray-300 text-thin'>Article de
				{{author.pseudo|capitalize}}</p>
		</div>
		<div class="one_article">{{article.text|raw}}
		</div>
	</div>

	{% include 'components/spacing.html.twig' %}
	{% include 'article/components/comment_form.html.twig' %}
	{% include 'components/spacing.html.twig' %}
{% endblock %}
